@import "mixins.module.scss";

.svg {
    width: 200px ;
    margin-bottom: 0;
    margin-right: 20px;
}

.wrapperLanding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 20px);
    color: white;
    position: relative;
    top: 120px;
    
    & > * {
        padding: 1rem;
    }

    & img{
        margin-bottom: 0;
        height: 180px ;

        @include MediumDevices{
            height: 320px;
        }
    }

    @include XSLandscape{
        position: relative;
        top:40px;
    }
    @include smallLanscape{
        position: relative;
        top:50px;
    }
    
    @include MediumDevices{
        position: relative;
        top: 130px;
    }
    @include LGPortrait{
        top: 200px;
    }
}

.MuiTypographybody1 {
    font-size: 0.75rem !important;
    @include smallLanscape{
        font-size: 0.9rem !important;
    }
    @include MediumDevices{
        font-size: 0.9rem !important;
    }
    @include Largedevices{
        font-size: 1rem !important;
    }
    @include Extralarge{
        font-size: 1.15rem !important;
    }
}

.downbtn {
    min-width: 128.16px !important;
    margin-top: .5rem !important;
}

.wrapperbtns{
    max-width: 129px;
}