@import "mixins.module.scss";

.svg {
    width: 200px ;
    margin-bottom: 0;
    margin-right: 20px;
    
}

.wrapperLanding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 20px);
    color: white;
    position: relative;
    top: 100px;
    
    & > * {
        padding: 1rem;
    }

    & img{
        margin-bottom: 0;
        height: 150px ;
    }

    @include XSLandscape{
        position: relative;
        top:40px;
    }
}